.projectContent {
	box-shadow: 1px 1px 1px 1px grey;

	display: flex;
	flex-direction: row;

	height: 300px;
	width: 730px;

	margin-top: 5%;
}

.description {
	display: flex;
	flex-direction: column;

	justify-content: center;

	font-size: 18px;
	padding: 3px;
	margin-left: 1%;

	overflow: scroll;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.description::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.descriptionP {
	padding: 3px;
	font-size: 14px;
	margin-top: 1%;
}

.img {
	width: 100%;
	height: 100%;
}

.myTask {
	margin-top: 4%;
	font-size: 40px;
}
