.mainName {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.subName {
	font-size: 45px;
	margin-top: 1%;
}

.ant-row {
	flex-flow: inherit;
	justify-content: center;
}

.body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.p {
	margin-top: -1%;
}

.p1 {
	margin-top: 1%;
}

.down {
	transition: all 0.3s ease;
}

.down:hover {
	color: lightcoral;
}
