.exp-container {
	height: 90vh;
}

.exp-title {
	margin-top: 5%;
	font-size: 40px;
}

.timeLine {
	margin-top: 5%;
}

.timeLineTxt {
	font-size: 22px;
}

@media only screen and (max-width: 900px) {
	.timeLineTxt {
		font-size: 15px;
	}

	.timeLine {
		margin-top: 15%;
	}

	.exp-title {
		margin-top: 20%;
		font-size: 20px;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
}
