.project-container {
	height: 100vh;
}

.ant-modal-mask {
	background-color: rgba(0, 0, 0, 0.7);
}

.ant-modal-body {
	overflow: scroll;
	height: 900px;
}

.ant-modal-footer {
	display: none;
}

.projectCard {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentsContainer {
	width: 500px;
	height: 600px;
	box-shadow: 2px 2px 2px 2px grey;
	border-radius: 30px;
}

.contents {
	overflow: scroll;
	text-align: -webkit-center;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.contents::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.content-title {
	font-size: 30px;
	font-weight: bold;
}

.content-desc {
	font-size: 25px;
	font-weight: bold;
}

.contentPic {
	width: 100%;
	height: 70%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.imgBoxText {
	position: absolute;

	top: 42%;
	left: 28%;

	color: black;
	font-size: 60px;
	font-weight: bold;

	opacity: 0;

	transition: all 0.4s ease;
}

.contentPic img {
	transition: all 0.3s ease;
}

.contentPic:hover img {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.contentPic:hover :not(img) {
	z-index: 100;
	opacity: 1;
}

.contentDes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: -webkit-center;

	width: 100%;
	height: 28%;
	text-overflow: clip;
	overflow: scroll;
	padding: 0;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.contentDes::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.imgBox {
	width: 100%;
	height: 100%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.webSite {
	cursor: pointer;
}

.projectModal {
	width: 1200px;
}

.projectIcon {
	transition: all ease 0.4s 0s;
	cursor: pointer;
}

.projectIcon:hover {
	color: rgba(29, 189, 96, 0.801);
	transform: scale(1.5);
}

@media only screen and (max-width: 900px) {
	.project-container {
		height: 180vh;
	}

	.project-title {
		margin-top: 20%;
	}

	.contentsContainer {
		width: 90%;
		height: 200px;

		border-radius: 10px;
	}

	.content-title {
		font-size: 10px;
		font-weight: bold;
	}

	.content-desc {
		font-size: 8px;
		font-weight: bold;
	}

	.projectIcon {
		width: 15px;
		height: 15px;
	}

	.imgBox {
		height: 100%;

		border-radius: 10px;
	}

	.contentDes {
		display: grid;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
}
