.contents {
	height: 300px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px grey;

	/* border-style: solid;
	border-width: 1px; */
}

.contentLeft {
	/* border-style: solid; */
	/* border-width: 1px; */
	/* border-color: blue; */
	height: 100%;
	height: 300px;
}

.contentRight {
	/* border-style: solid; */
	/* border-width: 1px; */
	/* border-color: blue; */
	height: 300px;
	overflow: scroll;
	margin-left: 30px;
	text-overflow: clip;
	padding: 0;
}

.imgBox-1 {
	width: 50%;
	height: 100%;
	border-radius: 10px;
}
.imgBox {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.ant-row {
	flex-flow: inherit;
}

.webSite {
	cursor: pointer;
}
